body{
    text-align: center;
    background-color: black;
}

h1 {
    font-style: bold;
    text-decoration: underline;
    text-decoration-color: red;
    color:yellow;
    font-size: 60px;
}

div > h2{
    font-style: bold;
    text-decoration: underline;
    text-decoration-color: cyan;
    color: blue;
    font-size: 40px;
}

div > p {
    font-style: italic;
    color: chartreuse;
    font-size: 30px;
}

div > ul{
    font-style: italic;
    color: chartreuse;
    font-size: 30px;
}